# Temp files
*.tmp
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
node_modules/
venv/
__pycache__/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/
